telethon
pymongo
dnspython
meval
mtranslate
urbandict
emoji==1.1.0
fontTools
pytube3
google-api-python-client
lxml
search-engine_parser
google_images_download
oauthclient
gtts
oweatherm
requests
pillow
langdetect
pySmartDL
youtube_dl
youtube2mp3
youtube-search
ffmpeg
humanize
bs4
